/Acceptance.class
/JavaForthBaseListener.class
/JavaForthLexer.class
/JavaForthListener.class
/JavaForthParser$ArgumentsContext.class
/JavaForthParser$CompilationUnitContext.class
/JavaForthParser$ExpressionContext.class
/JavaForthParser$ExpressionListContext.class
/JavaForthParser$LangContext.class
/JavaForthParser$LiteralContext.class
/JavaForthParser$PrimaryContext.class
/JavaForthParser$PrimitiveTypeContext.class
/JavaForthParser$PrintContext.class
/JavaForthParser$QualifiedNameContext.class
/JavaForthParser$QualifiedNameListContext.class
/JavaForthParser$ResourceContext.class
/JavaForthParser$ResourceSpecificationContext.class
/JavaForthParser$ResourcesContext.class
/JavaForthParser$StatementContext.class
/JavaForthParser$StatementExpressionContext.class
/JavaForthParser$VariableDeclaratorContext.class
/JavaForthParser$VariableDeclaratorIdContext.class
/JavaForthParser$VariableDeclaratorsContext.class
/JavaForthParser$VariableInitializerContext.class
/JavaForthParser.class
/JavaForthTranspilerListener.class
/Transpiler.class
